In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
# get data files
books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

In [3]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [4]:
df_books.shape

(271379, 3)

In [5]:
df_ratings.shape

(1149780, 3)

In [6]:
df_books.head()

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [7]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [8]:
# Fonction pour obtenir les recommandations
def get_recommends(book_title, num_recommendations=5):
    # Combinez les données de livres et de notations
    df_combined = pd.merge(df_books, df_ratings, on='isbn')

    # Filtrer les utilisateurs avec moins de 200 notations et les livres avec moins de 100 notations
    user_counts = df_combined['user'].value_counts()
    book_counts = df_combined['isbn'].value_counts()
    df_filtered = df_combined[(df_combined['user'].isin(user_counts[user_counts >= 200].index)) &
                              (df_combined['isbn'].isin(book_counts[book_counts >= 100].index))]

    # Créer une matrice utilisateur-item
    user_book_matrix = df_filtered.pivot_table(index='title', columns='user', values='rating').fillna(0)
    

    # Initialiser le modèle KNN
    knn_model = NearestNeighbors(metric='cosine', algorithm='brute')

    # Ajuster le modèle aux données
    knn_model.fit(user_book_matrix.values)

    # Trouver l'index du livre donné
    book_index = user_book_matrix.index.get_loc(book_title)
    print(book_index)

    # Obtenir les livres similaires
    distances, indices = knn_model.kneighbors(user_book_matrix.iloc[book_index, :].values.reshape(1, -1),
                                              n_neighbors=num_recommendations+1)
    print(distances)
    print(indices)
    # Préparer les recommandations
    recommends = []
    for i in range(1, num_recommendations + 1):
        recommend = user_book_matrix.index[indices.flatten()[i]]
        recommend_distance = distances.flatten()[i]
        recommends.append([recommend, recommend_distance])

    return [book_title, recommends]

# Test de la fonction
result = get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")
print(result)

567
[[0.         0.5145134  0.5298544  0.73255134 0.7362787  0.7833433 ]]
[[567 610 599 251 617 276]]
['The Queen of the Damned (Vampire Chronicles (Paperback))', [['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5145134], ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5298544], ['Interview with the Vampire', 0.73255134], ['The Witching Hour (Lives of the Mayfair Witches)', 0.7362787], ['Lasher: Lives of the Mayfair Witches (Lives of the Mayfair Witches)', 0.7833433]]]

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2):
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

654
[[0.         0.7158567  0.764642   0.76690507 0.7678344  0.79370964]]
[[654 539 240 597 614 627]]
["Where the Heart Is (Oprah's Book Club (Paperback))", [['The Lovely Bones: A Novel', 0.7158567], ['I Know This Much Is True', 0.764642], ['The Surgeon', 0.76690507], ['The Weight of Water', 0.7678344], ['Tis: A Memoir', 0.79370964]]]